@charset "utf-8";
@import "../../Styles/variables";

.x-loading {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0,34,54,0.2);
	sup {
		display: block;
		width: 0.6rem;
		height: 0.6rem;
		background: url(../../Fonts/loading.svg);
		background-size: 100% 100%;
		-webkit-transform-origin: center;
		-webkit-animation: "___x_loadingRotate" 1s linear infinite;
		animation: "___x_loadingRotate" 1s linear infinite;
	}
	@at-root {
		@-webkit-keyframes "___x_loadingRotate" {
			0% {-webkit-transform: rotate(0);}
			100% {-webkit-transform: rotate(360deg);}
		}
	}
}