@charset "utf-8";
@import "../../Styles/variables";

html, body, body > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	color: $cr-p;
	line-height: 1.2;
	text-align: justify;
	font-size: pr(28);
}

h1 {
	font-size: pr(35);
	color: $cr-title;
}

h2 {
	font-size: pr(34);
	color: $cr-title;
}

h3 {
	font-size: pr(33);
	color: $cr-title;
}

h4 {
	font-size: pr(32);
	color: $cr-title;
}

h5 {
	font-size: pr(31);
	color: $cr-title;
}

h6 {
	font-size: pr(30);
	color: $cr-title;
}

p {
	font-size: pr(28);
	color: $cr-p;
}

span {
	color: $cr-span;
}

em {
	color: $cr;
}

strong {
	color: $cr-strong;
}



view.x-app {
	width: 100%;
	height: 100%;
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.x-app-header {
	z-index: 2;
	background: #fff;
	@include line-bottom;

	&__inner {
		display: block;
		position: relative;
		z-index: 2;
		width: 100%;
		height: pr(96);
		h1 {
			width: 100%;
			height: pr(96);
			line-height: pr(96);
			font-size: pr(34);
			z-index: 9;
			font-weight: bold;
			text-align: center;
		}
	}

	&__start {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 pr(20);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		.x-icon {
			&:before {
				font-size: pr(40);
			}
		}
		a {
			display: flex;
			align-items: center;
			color: $cr-p;
			font-size: pr(32);
			margin-right: pr(10);
			&:active {
				opacity: 0.5;
			}
		}
	}

	&__end {
		@extend .x-app-header__start;
		left: auto;
		right: 0;
		a {
			margin-right: 0;
			margin-left: pr(10);
		}
	}
}

main.x-app-body {
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $cr-body;
	position: relative;
}

footer.x-app-footer {
	background: #fff;
	@include line-top;
	&--padding {
		padding: pr(20);
	}
}