@charset "utf-8";

.x-app-body .footer-nav {
	a {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		padding: 0.15rem;
		p {
			font-size: 0.12rem;
		}
		&:active {
			background: rgba(0,0,0,0.02);
		}
	}
}

.total-price {
	display: -webkit-box;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0.1rem;
}