@charset "utf-8";

.view-mine {
	padding-top: 0.3rem;
}

.cells-group--use-info {
	padding: 0.2rem;
	display: flex;
	img {
		display: block;
		width: 1.2rem;
		height: 1.2rem;
		margin-right: 0.2rem;
	}
}

.cells-group--use-info__content {
	flex-grow: 1;
	h2 {
		font-size: 0.34rem;
		line-height: 1.5;
	}
	p {
		font-size: 0.26rem;
		line-height: 1.5;
		color: #999;
	}
}