@charset "utf-8";
@import "../../Styles/variables";

.x-grid {
	&--border {
		background: #fff;
		@include line-top;
		@include line-bottom;
		.x-grid__item {
			@include line-right;
			@include line-bottom;
		}
		.x-grid__inner {
			padding: pr(20);
		}
	}
	&__item {
		float: left;
	}
	&__inner {
		img {
			display: block;
			width: 100%;
		}
	}
}