@charset "utf-8";
@import "../../Styles/variables";

.x-rmb {
	display: flex;
	align-items: center;
	height: pr(40);
	font-size: pr(30);
	overflow: hidden;
	color: $cr-strong;
	font-weight: normal;
	&:before {
		content: "\e616";
		display: block;
		position: relative;
		top: pr(2.5);
		font-size: pr(26);
		font-family: "icons" !important;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
	}
	&--gray {
		color: crcalc($cr-span, -30);
	}
}