@charset "utf-8";
@import "../../Styles/variables";

.x-alert {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0,34,54,0.2);
	&__inner {
		width: 75%;
		background: #fff;
		box-shadow: 0 0 pr(16) rgba(0,39,61,0.05);
		border-radius: pr(6);
		opacity: 0;
	}
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column; 
		padding: pr(25) pr(50) pr(20) pr(50);
		h1 {
			display: block;
			margin-bottom: pr(15);
			font-size: pr(34);
			line-height: 1.5;
		}
		p {
			font-size: pr(30);
			line-height: 1.2;
			margin-bottom: pr(20);
		}
		input {
			padding: pr(10);
			width: 100%;
			line-height: 1.2;
			font-size: pr(30);
			background: crcalc($cr-body, 5) !important;
			border-radius: pr(6) !important;
			border: 1px solid $cr-border !important;
			margin-bottom: pr(20);
		}
	}
	&__btns {
		@include line-top;
		display: flex;
		a {
			flex-grow: 1;
			text-align: center;
			line-height: pr(80);
			font-size: pr(30);
			color: $cr-p;
			&:not(:last-child){
				@include line-right;
			}
			&.x-alert__btn-y {
				color: crcalc($cr, -40);
				font-weight: bold;
			}
			&:active {
				background: rgba(0,0,0,0.02);
			}
		}
	}
	&--show {
		.x-alert__inner {
			transform: scale(1,1);
			transform-origin: 50%;
			opacity: 1;
			-webkit-animation: "___x_alertShow" 0.2s ease-out;
			animation: "___x_alertShow" 0.2s ease-out;
		}
		@at-root {
			@-webkit-keyframes "___x_alertShow" {
				0% {-webkit-transform: scale(1.4,1.4); opacity: 0;}
				75% {-webkit-transform: scale(0.95,0.95); opacity: 1;}
				100% {-webkit-transform: scale(1,1); opacity: 1;}
			}
		}
	}
	&--hide {
		opacity: 0;
		-webkit-transition: opacity 0.15s ease-out;
		.x-alert__inner {
			-webkit-transform: scale(0.95,0.95);
			-webkit-transition: -webkit-transform 0.15s ease-out;
		}
	}
}
