@charset "utf-8";

.quan-cover {
	position: relative;
	margin-top: -40%;
	&__bg {
		width: 100%;
		overflow: hidden;
		background: url(../../Assets/Images/head.jpg) center center no-repeat #333;
		background-size: cover;
		&:after {
			content: "";
			display: block;
			margin-top: 100%;
		}
	}
	&__ft {
		width: 100%;
		height: 1.0rem;
		background-color: #fff;
	}
	&__user {
		display: flex;
		align-items: center;
		position: absolute;
		right: 0.2rem;
		bottom: 0.5rem;
		img {
			display: block;
			width: 1.4rem;
			height: 1.4rem;
			border: 2px solid #fff;
		}
		h1 {
			font-size: 0.4rem;
			margin-right: 0.2rem;
			line-height: 1.5;
			padding-bottom: 0.35rem;
			color: #fff;
		}
	}
}