@charset "utf-8";
@import "Config.scss";


// 按钮类
$x-buttons: (primary: cr(default), warn: crcalc(cr(strong),20), default: crcalc(cr(body),-5), vital: #04be02);
@each $name, $color in $x-buttons {
	.x-button__#{$name} {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: pr(88);
		background-color: $color;
		padding: 0 pr(25);
		@if $name == default {
			color: cr(span) !important;
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 200%;
				height: 200%;
				border: 1px solid crcalc($color, -20);
				border-radius: pr(12);
				transform: scale(0.5, 0.5);
				transform-origin: 0 0;
			}
		} @else {
			color: #fff !important;
		}
		font-size: pr(32);
		position: relative;
		border-radius: pr(6);
		border: none;
		&:not(.x-button--disabled):active {
			background-color: crcalc($color, -15);
		}
		[class^="x-icon"]:before {
			color: inherit;
		}
	}
}

.x-button--mini {
	height: pr(64);
	font-size: pr(28);
	[class^="x-icon"] {
		width: pr(36);
		height: pr(36);
		&:before {
			color: inherit;
			font-size: pr(28);
		}
	}
}

.x-button--disabled {
	&:before {
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border-radius: pr(6);
		background-color: rgba(255,255,255,0.5);
	}
}

.x-button-group {
	display: flex;
	a[class^="x-button"] {
		margin-right: pr(10);
		&:last-child {
			margin-right: 0;
		}
	}
}