@charset "utf-8";

@import "config.scss";


html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.x-switch {
		display: -webkit-box;
		position: relative;
		-webkit-box-align: center;
		background: crcalc(cr(body), -35);
		border-radius: pr(26);
		width: pr(120);
		height: pr(48);
		-webkit-box-flex: 0;
		-webkit-transition: background 0.2s ease-out;
		sub, sup {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			padding: 0 0 0 pr(16);
			height: pr(48);
			line-height: pr(48);
			color: #fff;
			width: 100%;
			font-size: pr(24);
			opacity: 0;
			-webkit-transition: opacity 0.2s ease-out;
		}
		sup {
			padding: 0 pr(16) 0 0;
			text-align: right;
			opacity: 1;
		}
		span {
			display: block;
			position: absolute;
			left: pr(4);
			top: pr(4);
			border-radius: 50%;
			width: pr(40);
			height: pr(40);
			background: #fff;
			-webkit-transition: -webkit-transform 0.2s ease-out;
		}
		&.x-on {
			background: cr(default);
			span {
				-webkit-transform: translate(pr(72), 0);
			}
			sub {
				opacity: 1;
			}
			sup {
				opacity: 0;
			}
		}
	}


// // 背景色
// body {
// 	background-color: cr(body);
// 	font-size: pr(28);
// 	line-height: 1.4em;
// }

// // 1~20个字的宽度
// @for $i from 1 through 20 {
// 	.x-w-#{$i}em {
// 		width: 1em * $i !important;
// 		-webkit-box-flex: 0 !important;
// 	}
// }

// // 文字对齐
// .x-tl {
// 	text-align: left !important;
// }
// .x-tc {
// 	text-align: center !important;
// }
// .x-tr {
// 	text-align: right !important;
// }

// // 带icon的下拉菜单
// .x-select {
// 	display: -webkit-box !important;
// 	&:after {
// 		content: "\e606";
// 		display: block;
// 		width: 1.2em;
// 		height: pr(52);
// 		line-height: pr(52);
// 		color: crcalc(cr(border), -30);
// 		font-family: "icons" !important;
// 		font-style: normal;
// 		-webkit-font-smoothing: antialiased;
// 	    font-size: pr(32);
// 	    text-align: right;
// 	}
// }

// // ul列表，一般放在cell内用
// ul.x-ul {
// 	width: 100%;
// 	li {
// 		display: -webkit-box;
// 		padding-bottom: pr(8);
// 		h6 {
// 			display: -webkit-box;
// 			color: cr(p);
// 			line-height: pr(48);
// 			height: pr(48);
// 			overflow: hidden;
// 			font-size: pr(28);
// 			width: 4.5em;
// 			margin-right: pr(10);
// 		}
// 		p {
// 			display: block;
// 			-webkit-box-flex: 1;
// 			color: cr(span);
// 			font-size: pr(28) !important;
// 			line-height: pr(36) !important;
// 		}
// 		[class^="x-icon-"] {
// 			margin-right: pr(6);
// 		}
// 		&:last-child {
// 			padding-bottom: 0;
// 		}
// 	}
// }


// // 正方型
// %square {
// 	width: 100%;
// 	overflow: hidden;
// 	position: relative;
// 	&:after {
// 		content: "";
// 		display: block;
// 		width: 100%;
// 		margin-top: 100%;
// 	}
// }

// // 基本的文字色调与样式
// p,
// label { color: cr(p);}
// span { color: cr(span);}
// strong { color: cr(strong);}

// // 2行超出...
// %x-line-clamp-2 {
// 	display: -webkit-box !important;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
// }




// // 链接按钮，即比用色上比普通按钮要更轻一些
// $x-links: (warn: crcalc(cr(strong),20), default: cr(span));
// @each $name, $color in $x-links {
// 	.x-linkbtn-#{$name} {
// 		display: -webkit-box;
// 		-webkit-box-align: center;
// 		-webkit-box-pack: center;
// 		position: relative;
// 		width: 100%;
// 		height: pr(52);
// 		font-size: pr(24);
// 		text-align: center;
// 		color: $color;
// 		&:after {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			width: 200%;
// 			height: 200%;
// 			border: 1px solid $color;
// 			border-radius: pr(10);
// 			transform: scale(0.5, 0.5);
// 			transform-origin: 0 0;
// 		}
// 		&:active {
// 			opacity: 0.7;
// 		}
// 	}
// }



// //商品类
// $x-goods-list: (double: 50%, triple: 33.3333%);
// @each $name, $w in $x-goods-list { 
// 	.x-goods-list-#{$name} {
// 		overflow: hidden;
// 		position: relative;
// 		.x-goods {
// 			width: $w;
// 			@if $name == triple {
// 				.x-goods-pic, p {
// 					margin-bottom: pr(4);
// 				}
// 			}
// 		}
// 		&:not(.x-border) {
// 			padding: 0 pr(6);
// 			.x-goods {
// 				padding: pr(4);
// 				> a {
// 					padding: pr(16);
// 				}
// 			}
// 		}
// 		&.x-border {
// 			background-color: #fff;
// 			.x-goods {
// 				> a {
// 					padding: pr(20);
// 				}
// 				&:before {
// 					content: "";
// 					display: block;
// 					position: absolute;
// 					right: 0;
// 					top: 0;
// 					z-index: 2;
// 					transform-origin: 100% 0;
// 					transform: scaleX(0.5);
// 					width: 1px;
// 					height: 100%;
// 					border-right: 1px solid cr(border);
// 				}
// 				&:after {
// 					content: "";
// 					display: block;
// 					position: absolute;
// 					left: 0;
// 					bottom: 0;
// 					z-index: 2;
// 					transform-origin: 0 100%;
// 					transform: scaleY(0.5);
// 					width: 100%;
// 					height: 1px;
// 					border-bottom: 1px solid cr(border);
// 				}
// 				@if $name == double {
// 					&:nth-child(2n):before {
// 						display: none;
// 					}
// 				} @elseif $name == triple {
// 					&:nth-child(3n):before {
// 						display: none;
// 					}
// 				}
// 			}
// 			&:before {
// 				content: "";
// 				display: block;
// 				position: absolute;
// 				left: 0;
// 				top: 0;
// 				z-index: 2;
// 				transform-origin: 0 0;
// 				transform: scaleY(0.5);
// 				width: 100%;
// 				height: 1px;
// 				border-top: 1px solid cr(border);
// 			}
// 			&:after {
// 				content: "";
// 				display: block;
// 				position: absolute;
// 				left: 0;
// 				bottom: 0;
// 				z-index: 2;
// 				transform-origin: 0 100%;
// 				transform: scaleY(0.5);
// 				width: 100%;
// 				height: 1px;
// 				border-bottom: 1px solid cr(border);
// 			}
// 		}
// 	}
// }
// .x-goods {
// 	display: block;
// 	position: relative;
// 	float: left;
// 	.x-goods-pic {
// 		pointer-events: none;
// 		margin-bottom: pr(10);
// 	}
// 	.x-details {
// 		h6 {
// 			height: 2.8em;
// 			margin-bottom: pr(10);
// 			color: cr(p);
// 			@extend %x-line-clamp-2;
// 		}
// 		p {
// 			display: -webkit-box;
// 			-webkit-box-align: center;
// 			-webkit-box-pack: justify;
// 			height: pr(40);
// 			overflow: hidden;
// 			font-size: pr(22);
// 		}
// 	}
// 	> a {
// 		display: block;
// 		padding: pr(20);
// 		background: #fff;
// 		&:active {
// 			background: rgba(0,0,0,0.02);
// 		}
// 	}
// }
// .x-goods-pic {
// 	@extend %square;
// 	img {
// 		display: block;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		width: 100%;
// 		height: 100%;
// 	}
// }

// // 板块
// .x-panel {
// 	display: block;
// 	overflow: hidden;
// 	position: relative;
// 	background-color: #fff;
// 	@at-root {
// 		a.x-panel:active {
// 			.x-panel-hd, .x-panel-bd, .x-panel-ft {
// 				background-color: rgba(0,0,0,0.02);
// 			}
// 		}
// 	}
// 	&:before {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		z-index: 2;
// 		transform-origin: 0 0;
// 		transform: scaleY(0.5);
// 		width: 100%;
// 		height: 1px;
// 		border-top: 1px solid cr(border);
// 	}
// 	&:after {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		left: 0;
// 		bottom: 0;
// 		z-index: 2;
// 		transform-origin: 0 100%;
// 		transform: scaleY(0.5);
// 		width: 100%;
// 		height: 1px;
// 		border-bottom: 1px solid cr(border);
// 	}
// 	.x-panel-hd {
// 		display: -webkit-box;
// 		-webkit-box-align: center;
// 		position: relative;
// 		padding: pr(16) pr(20);
// 		h2 {
// 			display: block;
// 			height: pr(48);
// 			line-height: pr(48);
// 			font-size: pr(28);
// 			-webkit-box-flex: 1;
// 			overflow: hidden;
// 			color: cr(p);
// 			font-weight: bold;
// 		}
// 		a {
// 			display: -webkit-box;
// 			-webkit-box-align: center;
// 			color: cr(span);
// 			font-size: pr(26);
// 			overflow: hidden;
// 			&:active {
// 				opacity: 0.7;
// 			}
// 		}
// 		&:after {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			left: 0;
// 			bottom: 0;
// 			z-index: 2;
// 			transform-origin: 0 100%;
// 			transform: scaleY(0.5);
// 			width: 100%;
// 			height: 1px;
// 			border-bottom: 1px solid cr(border);
// 		}
// 	}
// 	.x-panel-bd {
// 		.x-cells {
// 			background: none;
// 			&:before, &:after {
// 				display: none !important;
// 			}
// 		}
// 	}
// 	.x-panel-ft {
// 		display: block;
// 		position: relative;
// 		padding: pr(20);
// 		&:before {
// 			content: "";
// 			display: block;
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			z-index: 2;
// 			transform-origin: 0 0;
// 			transform: scaleY(0.5);
// 			width: 100%;
// 			height: 1px;
// 			border-top: 1px solid cr(border);
// 		}
// 	}
// }

// // 列表类
// .x-cells-title {
// 	color: cr(span);
// 	padding: pr(20) pr(20) pr(8) pr(20);
// 	font-size: pr(28);
// 	line-height: 1.6em;
// }


// // 外层
// .x-app {
// 	display: -webkit-box;
// 	-webkit-box-orient: vertical;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// }










// // 底部按钮组合
// .x-app-btns {
// 	padding: pr(20);
// 	.x-details {
// 		display: -webkit-box;
// 		padding-bottom: pr(12);
// 		p, h6 {
// 			display: -webkit-box;
// 			-webkit-box-align: center;
// 			-webkit-box-flex: 1;
// 			width: 100%;
// 			span {
// 				display: block;
// 				line-height: pr(40);
// 				font-size: pr(28);
// 				color: cr(span);
// 			}
// 		}
// 		h6 {
// 			span {
// 				color: cr(p);
// 			}
// 			.x-rmb {
// 				font-size: pr(36);
// 				font-weight: bold;
// 				&:before {
// 					font-size: pr(32);
// 					font-weight: bold;
// 				}
// 			}
// 			-webkit-box-pack: end;
// 		}
// 	}
// 	.x-btns {
// 		display: -webkit-box;
// 		[class^="x-btn-"] {
// 			-webkit-box-flex: 1;
// 			margin-right: pr(10);
// 			&:last-child {
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }

// // 标签
// .x-tab {
// 	display: -webkit-box;
// 	-webkit-box-align: center;
// 	background: #fff;
// 	position: relative;
// 	a {
// 		display: -webkit-box;
// 		width: 100%;
// 		height: pr(88);
// 		-webkit-box-flex: 1;
// 		color: cr(span);
// 		-webkit-box-align: center;
// 		-webkit-box-pack: center;
// 		position: relative;
// 		z-index: 2;
// 		&.active {
// 			color: cr(em);
// 			&:after {
// 				content: "";
// 				display: block;
// 				width: 100%;
// 				height: pr(4);
// 				background: cr(em);
// 				position: absolute;
// 				left: 0;
// 				bottom: 0;
// 			}
// 		}
// 		&:not(.active):active {
// 			opacity: 0.5;
// 		}
// 		[class^="x-icon-"]:before {
// 			color: inherit;
// 		}
// 	}
// 	&:after {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		left: 0;
// 		bottom: 0;
// 		z-index: 2;
// 		transform-origin: 0 100%;
// 		transform: scaleY(0.5);
// 		width: 100%;
// 		height: 1px;
// 		border-bottom: 1px solid #dcdfe3;
// 	}
// }

// // 标签块
// .x-tab-box {
// 	display: -webkit-box !important;
// 	background: cr(body) !important;
// 	border-radius: pr(6);
// 	position: relative;
// 	overflow: hidden;
// 	height: pr(72) !important;
// 	-webkit-box-flex: 0 !important;
// 	width: 100%;
// 	&:after {
// 		content: "";
// 		display: block;
// 		width: 200%;
// 		height: 200%;
// 		border-radius: pr(12);
// 		border: 1px solid cr(border);
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		pointer-events: none;
// 		-webkit-transform: scale(0.5,0.5);
// 		-webkit-transform-origin: 0 0;
// 	}
// 	a {
// 		display: -webkit-box;
// 		-webkit-box-align: center;
// 		-webkit-box-pack: center;
// 		width: 100%;
// 		height: pr(72);
// 		line-height: pr(72);
// 		text-align: center;
// 		color: cr(p);
// 		-webkit-box-flex: 1;
// 		position: relative;
// 		z-index: 2;
// 		font-size: pr(28);
// 		span {
// 			color: cr(p);
// 		}
// 		&:after {
// 			content: "";
// 			display: block;
// 			width: 1px;
// 			height: 100%;
// 			border-right: 1px solid cr(border);
// 			position: absolute;
// 			right: 0;
// 			top: 0;
// 			-webkit-transform: scaleX(0.5);
// 			-webkit-transform-origin: 100% 0;
// 		}
// 		&:last-child:after {
// 			display: none;
// 		}
// 		&.active {
// 			background: cr(em);
// 			color: #fff;
// 			span {
// 				color: #fff;
// 			}
// 			&:after {
// 				display: none;
// 			}
// 		}
// 		&:not(.active):active {
// 			opacity: 0.5;
// 		}
// 	}
// }

// // 对话框
// #j-x-alert {
// 	display: none;
// 	opacity: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(0,34,54,0.2);
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	z-index: 100000;
// 	-webkit-transition: opacity 0.3s ease-out;
// 	&.j-x-show {
// 		display: -webkit-box;
// 		-webkit-box-align: center;
// 		-webkit-box-pack: center;
// 		opacity: 1;
// 		.x-inalert {
// 			-webkit-transform: scale(1,1);
// 			-webkit-animation: "___x_alertShow" 0.2s ease-out;
// 		}
// 	}
// 	@at-root {
// 		@-webkit-keyframes "___x_alertShow" {
// 			0% {-webkit-transform: scale(1.4,1.4); opacity: 0;}
// 			75% {-webkit-transform: scale(0.95,0.95); opacity: 1;}
// 			100% {-webkit-transform: scale(1,1); opacity: 1;}
// 		}
// 	}
// 	&.j-x-hide {
// 		opacity: 0;
// 		-webkit-transition: opacity 0.15s ease-out;
// 		.x-inalert {
// 			-webkit-transform: scale(0.95,0.95);
// 			-webkit-transition: -webkit-transform 0.15s ease-out;
// 		}
// 	}
// 	.x-inalert {
// 		 background: #fff;
// 		 box-shadow: 0 0 pr(16) rgba(0,39,61,0.05);
// 		 border-radius: pr(8);
// 		 width: 75%;
// 		 .p {
// 		 	display: -webkit-box;
// 		 	padding: pr(64) pr(36);
// 		 	-webkit-box-pack: center;
// 		 	p {
// 		 		color: #333;
// 		 		font-size: pr(30);
// 		 		line-height: pr(40);
// 		 	}
// 		 }
// 		 .x-btns {
// 		 	display: -webkit-box;
// 		 	height: pr(84);
// 		 	overflow: hidden;
// 		 	position: relative;
// 		 	.x-btn {
// 		 		display: block;
// 		 		position: relative;
// 		 		width: 100%;
// 		 		height: pr(84);
// 		 		-webkit-box-flex: 1;
// 		 		text-align: center;
// 		 		line-height: pr(84);
// 		 		color: #0081cc;
// 		 		font-size: pr(28);
// 		 		&:active {
// 		 			background: rgba(0,39,61,0.05);
// 		 		}
// 		 		&.x-y {
// 		 			font-weight: bold;
// 		 		}
// 		 		&.x-n:after {
// 		 			content: "";
// 					display: block;
// 					position: absolute;
// 					right: 0;
// 					top: 0;
// 					z-index: 2;
// 					transform-origin: 100% 0;
// 					transform: scaleX(0.5);
// 					width: 1px;
// 					height: 100%;
// 					border-right: 1px solid #dcdfe3;
// 		 		}
// 		 	}
// 		 	&:after {
// 	 			content: "";
// 				display: block;
// 				position: absolute;
// 				left: 0;
// 				top: 0;
// 				z-index: 2;
// 				transform-origin: 0 0;
// 				transform: scaleY(0.5);
// 				width: 100%;
// 				height: 1px;
// 				border-top: 1px solid #dcdfe3;
// 	 		}
// 		 }
// 	}
// }

// #j-x-toast {
// 	display: none;
// 	pointer-events: none;
// 	width: 100%;
// 	height: 100%;
// 	padding: 0 pr(60);
// 	background: rgba(0,0,0,0);
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	z-index: 100001;
// 	p {
// 		display: -webkit-box;
// 		-webkit-box-align: center;
// 		-webkit-box-pack: center;
// 		color: #fff;
// 		padding: pr(16) pr(20);
// 		font-size: pr(28);
// 		line-height: pr(36);
// 		background: rgba(0,0,0,0.65);
// 		box-shadow: 0 0 pr(16) rgba(0,39,61,0.05);
// 		border-radius: pr(8);
// 	}
// 	&.j-x-show {
// 		display: -webkit-box;
// 		-webkit-box-align: center;
// 		-webkit-box-pack: center;
// 		opacity: 1;
// 		p {
// 			-webkit-transform: scale(1,1);
// 			-webkit-animation: "___x_toastShow" 0.2s ease-out;
// 		}
// 	}
// 	@at-root {
// 		@-webkit-keyframes "___x_toastShow" {
// 			0% {-webkit-transform: scale(1.4,1.4); opacity: 0;}
// 			75% {-webkit-transform: scale(0.95,0.95); opacity: 1;}
// 			100% {-webkit-transform: scale(1,1); opacity: 1;}
// 		}
// 	}
// 	&.j-x-hide {
// 		opacity: 0;
// 		-webkit-transition: opacity 0.15s ease-out;
// 		p {
// 			-webkit-transform: scale(0.95,0.95);
// 			-webkit-transition: -webkit-transform 0.15s ease-out;
// 		}
// 	}
// }

// // 加载
// #j-x-loading {
// 	display: -webkit-box;
// 	-webkit-box-align: center;
// 	-webkit-box-pack: center;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(0,34,54,0.2);
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	z-index: 99999;
// 	span {
// 		display: block;
// 		height: pr(40);
// 		width: pr(40);
// 		position: relative;
// 		i {
// 			display: block;
// 			width: pr(40);
// 			height: pr(40);
// 			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAVFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////8wXzyWAAAAHHRSTlMABQkCfQESDkRpGik0JHRjL29KHnhdPhZUOVBYh8EKLAAAAYdJREFUOMuF09uOgyAUheENDIIcFKVVtO//nsOyJoOtMP8VMV8WiUa6JM2W+uGHJKJqSk8/CFAIwcS95foBVMDcjbPT4xMi8cGEfqASsiN+HWVpeMPHyxmOFSnejl+k2IcDTgsvnwKiv0d6GCB3TpckXLlph6NAX4nMlFKn5P3hPNGdVEgS0tN0v4eYQhxHNaGZKmGy6/AiNrie16BUXY7nwwi4UTXeIaK1bwwieUBGrs/N1Oi8WwOGFuRrTtEL0LQgA+zoCchbUKyIRkDRgtLkMkT/QETPsR/H9tVvmLC4tiCLMearNaBtQRVzHQVA3YIroKL1iVjdCe99jIxkAgx12HnIfHCAidcHUYdPCfjaatBYQEbH5CvnKxdbm+V6/v2Aydw5ZZEXdBThUvK3e0jRmUtod+zzk4QQsvu7Syxw+z57VjATXICMkkq5A86zi4pJyZSxLgcZBRWJcMJZ55Zl2bbtDY2ka2aGKyFk6OgrFk4HeE5GRndxq0sIVv/ZfdignDWKLv0CCwIfEp3HaTQAAAAASUVORK5CYII=);
// 			background-size: 100% 100%;
// 			-webkit-animation: "___x_loadingRotate" 2s linear 0s infinite;
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			&:nth-child(2) {
// 				-webkit-animation: "___x_loadingRotate2" 2s linear 0s infinite;
// 			}
// 		}
// 	}
// 	@at-root {
// 		@-webkit-keyframes "___x_loadingRotate" {
// 			0% {-webkit-transform: rotate(0deg);}
// 			100% {-webkit-transform: rotate(360deg);}
// 		}
// 		@-webkit-keyframes "___x_loadingRotate2" {
// 			0% {-webkit-transform: scale(-1,1) rotate(0deg);}
// 			100% {-webkit-transform: scale(-1,1) rotate(360deg);}
// 		}
// 	}
// }















