// 变量
$cr: #76bdff !default; // 主色调
$cr-strong: #ff5e3a !default; // 着重色，红
$cr-title: #333 !default; // 标题色
$cr-p: #535353 !default; // 正文文字颜色
$cr-span: #999 !default; // 并不重要的文字颜色
$cr-body: #f2f4f6 !default; // 背景色
$cr-border: #dcdfe3 !default; // 边框颜色
$cr-vital: #02a400 !default; // 决定色，绿

// 计算颜色，增加颜色变亮，减少颜色变暗
@function crcalc($color, $val){
	@return $color + $val;
}

//px转rem，用于宽高尺寸
@function pr($px){
	@return $px/100 + rem;
}

// 上方1px线
@mixin line-top() {
	width: 100%;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;
		transform-origin: 0 0;
		transform: scaleY(0.5);
		width: 100%;
		height: 1px;
		background-color: $cr-border;
	}
}

// 下方1px线
@mixin line-bottom() {
	width: 100%;
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 99;
		transform-origin: 0 100%;
		transform: scaleY(0.5);
		width: 100%;
		height: 1px;
		background-color: $cr-border;
	}
}

// 右侧1px线
@mixin line-right() {
	height: 100%;
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 99;
		transform-origin: 100% 0;
		transform: scaleX(0.5);
		width: 1px;
		height: 100%;
		background-color: $cr-border;
	}
}

// 多行超出...
%x-line-clamp-2 {
	display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}