@charset "utf-8";

.messageItem {
	position: relative;
	display: flex;
	padding: 0.15rem;
	.head {
		display: block;
		width: 1.0rem;
		height: 1.0rem;
		background: #999;
		border-radius: 0.06rem;
		margin-right: 0.15rem;
	}
	.content {
		flex-grow: 1;
		h2 {
			font-size: 0.30rem;
			font-weight: normal;
			line-height: 1.2;
			color: #444;
		}
		p {
			font-size: 0.28rem;
			font-weight: normal;
			line-height: 1.2;
			color: #999;
		}
	}
	time {
		font-size: 0.28rem;
		font-weight: normal;
		line-height: 1.2;
		color: #999;
	}
	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #dbdbdb;
		position: absolute;
		left: 0;
		bottom: 0;
		-webkit-transform: scaleY(0.5);
		-webkit-transform-origin: 0 100%;
	}
	&:last-child:before {
		display: none;
	}
}