@charset "utf-8";

.talk-box {
	display: block;
	margin-bottom: 0.2rem;
	&--self {
		.talk-box__head {
			float: right;
			margin-right: 0;
			margin-left: 0.2rem;
		}
		.talk-box__content {
			float: right;
			background-color: #88dd00;
			&:after {
				border: 1px solid #55bb00;
			}
		}
	}
	&__head {
		display: block;
		width: 1.0rem;
		height: 1.0rem;
		margin-right: 0.2rem;
		float: left;
		img {
			display: block;
			width: 1.0rem;
			height: 1.0rem;
		}
	}
	&__content {
		float: left;
		background-color: #fff;
		padding: 0.2rem;
		border-radius: 0.1rem;
		max-width: 65%;
		position: relative;
		&:after {
			content: "";
			display: block;
			width: 200%;
			height: 200%;
			border: 1px solid #ddd;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 0.2rem;
			-webkit-transform: scale(0.5);
		}
		p {
			font-size: 0.32rem;
			line-height: 1.2;
			color: #333;
			text-align: justify;
		}
	}
}