@charset "utf-8";
@import "../../Styles/Config.scss";

.x-cell {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	@extend %line-top;
	@extend %line-bottom;
	&__title {
		color: cr(span);
		padding: pr(20) pr(20) pr(8) pr(20);
		font-size: pr(30);
		line-height: 1.5;
		font-weight: normal;
	}
	&__row {
		display: flex;
		padding: pr(20);
		@extend %line-top;
		&:before {
			left: pr(20);
		}
		&:first-child:before {
			display: none;
		}
		&__header {
			display: flex;
			align-items: center;
			margin-right: pr(10);
			label {
				display: block;
				min-width: 4em;
				margin-left: pr(10);
				font-size: pr(28);
				line-height: pr(48);
				height: pr(48);
				overflow: hidden;
				white-space: nowrap;
			}
			img {
				display: block;
				width: pr(120);
				margin-right: pr(10);
			}
		}
		&__body {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: center;
			width: 100%;
			color: cr(p);
			p {
				display: block;
				font-size: pr(28);
				line-height: 1.2;
				padding: pr(6) 0;
				text-align: justify;
				span, em {
					padding-left: pr(6);
					display: inline;
				}
			}
			h1, h2, h3, h4, h5, h6, strong {
				display: block;
				font-size: pr(30);
				line-height: 1.2;
				padding: pr(6) 0;
				font-weight: normal;
				text-align: justify;
				span, em {
					padding-left: pr(6);
					display: inline;
				}
			}
			span, time, em {
				display: block;
				font-size: pr(26);
				line-height: 1.2;
				color: cr(span);
				text-align: justify;
			}
			time {
				font-size: pr(24);
			}
			textarea, input, select, div {
				display: block;
				background-color: rgba(0,0,0,0);
				border: none;
				width: 100%;
				flex-grow: 1;
				font-size: pr(28);
				height: pr(48);
			}
			textarea {
				padding: pr(6) 0;
				line-height: pr(36);
				height: pr(36 * 4 + 12);
			}
			textarea, input::-webkit-input-placeholder {
				color: #bbb;
			}
			select.empty-select {
				color: #bbb;
			}
		}
		&__footer {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			margin-left: pr(30);
			white-space: nowrap;
			span {
				display: block;
				font-size: pr(28);
				line-height: 1.2;
				color: cr(span);
			}
			small {
				display: block;
				font-size: pr(26);
				line-height: 1.2;
				color: cr(span);
			}
		}
		&--radio {
			padding-left: pr(70);
			&:after {
				content: "\e610";
				display: block;
				position: absolute;
				left: pr(20);
				top: 50%;
				-webkit-transform: translate(0, -50%);
				color: cr(border);
				font-family: "icons" !important;
				font-style: normal;
				font-weight: 100;
				-webkit-font-smoothing: antialiased;
				font-size: pr(40);
			}
			&:active {
				background-color: rgba(0,0,0,0.02);
			}
			&-checked:after {
				content: "\e602";
				color: cr(default);
			}
		}
		&--checkbox {
			padding-right: pr(70);
			&:active {
				background-color: rgba(0,0,0,0.02);
			}
			&-checked:after {
				content: "\e600";
				display: block;
				position: absolute;
				right: pr(20);
				top: 50%;
				-webkit-transform: translate(0, -50%);
				color: cr(default);
				font-family: "icons" !important;
				font-style: normal;
				font-weight: 100;
				-webkit-font-smoothing: antialiased;
				font-size: pr(40);
			}
		}
		&--vstart {
			.x-cell__row__header {
				align-items: flex-start;
			}
			.x-cell__row__body, .x-cell__row__footer {
				justify-content: flex-start;
			}
			
		}
	}
}

a.x-cell__row, .x-cell__row--arrow {
	padding-right: pr(60);
	&:after {
		position: absolute;
		right: pr(20);
		top: 50%;
		-webkit-transform: translate(0, -50%);
		content: "\e606";
		display: block;
		line-height: pr(48);
		color: crcalc(cr(border), -30);
		font-family: "icons" !important;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
	    font-size: pr(32);
	}
}
a.x-cell__row:active {
	background-color: rgba(0,0,0,0.02);
}