@charset "utf-8";
@import "../../Styles/Config.scss";

.x-panel {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	@extend %line-top;
	@extend %line-bottom;
	&__header {
		padding: pr(16) pr(20);
		display: flex;
		align-items: center;
		h2 {
			font-size: pr(30);
			line-height: 1.5;
			color: cr(p);
			flex-grow: 1;
		}
		a {
			display: flex;
			align-items: center;
			font-size: pr(26);
			line-height: 1.5;
			color: cr(default);
			i.x-icon {
				width: auto;
				height: auto;
				&:before {
					color: cr(default);
					font-size: pr(30);
				}
			}
			&:active {
				opacity: 0.7;
			}
		}
	}
	&__body {

	}
	&__footer {
		display: flex;
		align-items: center;
		padding: pr(16) pr(20);
		span {
			display: block;
			font-size: pr(26);
			line-height: 1.5;
			color: cr(span);
			flex-grow: 1;
		}
		a {
			display: flex;
			align-items: center;
			font-size: pr(26);
			line-height: 1.5;
			color: cr(default);
			i.x-icon {
				width: auto;
				height: auto;
				&:before {
					color: cr(default);
					font-size: pr(30);
				}
			}
			&:active {
				opacity: 0.7;
			}
		}
	}
}