@charset "utf-8";
@import "../../Styles/variables";

.x-panel {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	@include line-top;
	@include line-bottom;
	&__header {
		padding: pr(16) pr(20);
		display: flex;
		align-items: center;
		h2 {
			font-size: pr(30);
			line-height: 1.5;
			color: $cr-title;
		}
	}
	&__body {

	}
	&__footer {
		padding: pr(16) pr(20);
		display: flex;
		align-items: center;
		span {
			display: block;
			font-size: pr(26);
			line-height: 1.5;
			color: $cr-span;
		}
	}
	&__extra {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		a {
			display: flex;
			align-items: center;
			font-size: pr(26);
			line-height: 1.5;
			color: $cr;
			width: auto;
			i.x-icon {
				width: auto;
				height: auto;
				&:before {
					color: $cr;
					font-size: pr(30);
				}
			}
			&:active {
				opacity: 0.7;
			}
		}
	}
}